<p>all-students works!</p>
<button class="back-button" routerLink = "/">
    <mat-icon>
        arrow_back
    </mat-icon>
</button>
<div class="student-container">
    @for(student of students; track student.studentName)
    {
        <!-- Hi Team -->
        <mat-card class="student-card">
            <mat-card-header>
                <mat-card-subtitle>Students Name</mat-card-subtitle>
                <mat-card-title>{{student.studentName}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>This is the best student</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button class="action-btns">Details</button>
                <button class="action-btns">Contacts</button>
            </mat-card-actions>
        </mat-card>
    }
</div>
