.student-card{
    // max-width: 400px;
    background-color: #ffc100;
    border-radius: 15px;
    margin: 10px 0px;
}

.action-btns{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2px;
    border-radius: 2px;
}